@import "../../less/variables.less";

@titleHeight: 50px;

:host {
    #project-page-wrapper {
        line-height: 1.5;
        overflow: hidden;
        .ContentSize;

        #title-container {
            display: flex;
            align-items: center;
            height: 130px;
            justify-content: space-between;

            h1 {
                font-size: 30px;
                font-weight: normal;
                color: @black;
            }
        }

        #allProjects {
            padding: 0 5px;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;

            carbo-project-card {
                min-width: 245px;
                margin-bottom: 3.5%;

                // tablet landscape / monitors: 3 columns
                @media (orientation: landscape) {
                    width: 31%;
                    &:nth-child(3n+2) {
                        margin: 0 3.5%;
                    }
                }

                // width for 2 columns
                @media (max-width: 1050px) {
                    width: 47%;
                    &:nth-child(2n+1) {
                        margin-right: 4%;
                    }
                    &:nth-child(3n+2) {
                        margin: 0 0;
                    }
                }

                // tablet portrait: 2 columns
                @media (orientation: portrait) {
                    width: 48%;
                    &:nth-child(2n+1) {
                        margin-right: 4%;
                    }
                    &:nth-child(3n+2) {
                        margin: 0 0;
                    }
                }
            }
        }
    }

    #createPopup {
        display: flex;
        align-items: center;
        justify-content: center;

        form {
            background-color: @popup-background;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            justify-content: center;
            line-height: 1.5;
            max-width: 600px;
            min-width: 300px;
            width: 380px;
            height: 100%;

            &.general-error {
                .input-general-error {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin: 0;
                    color: coral;
                    width: 100%;

                    p {
                        margin-top: 4px;
                    }
                }
            }

            .input-general-error {
                display: none;
            }

            h2 {
                width: 100%;
                margin: 0 0 48px 0;
                font-weight: normal;
            }

            .input-container {
                margin-bottom: 24px;
                width: 100%;

                input {
                    width: 100% ;
                    height: 56px;
                    outline:none;
                    font-size: 16px;
                    color: @mediumgrey;
                    border: none;
                    padding-left: 16px;
                    box-sizing: border-box;
                }

                textarea {
                    width: 100% ;
                    height: 102px;
                    outline:none;
                    font-family: @font-family;
                    font-size: 17px;
                    color: @mediumgrey;
                    border: none;
                    padding-left: 17px;
                    padding-top: 16px;
                    box-sizing: border-box;
                }

                .input-error {
                    display: none;
                }

                &.error {

                    input {
                        border: 1px solid coral;
                    }

                    .input-error {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        margin: 0;
                        color: coral;

                        p {
                            margin-top: 4px;
                        }
                    }
                }
            }

            .input-container:last-of-type {
                margin-bottom: 0;
            }

            .required {
                width: 100%;
                font-size: 14px;
                color: @mediumgrey;
                margin-bottom: 0;

            }

            .submit-button {
                margin-top: 48px;
                width:100%;
            }
        }
    }
}
